@import "tailwindcss";

@theme {
  --font-saira: "Saira Stencil", sans-serif;
  --color-slate-blue-50: #f0f1f9;
  --color-slate-blue-100: #dfe1f2;
  --color-slate-blue-200: #bfc3e5;
  --color-slate-blue-300: #9aa0d3;
  --color-slate-blue-400: #757dc1;
  --color-slate-blue-500: #5a63a8;
  --color-slate-blue-600: #4d558f;
  --color-slate-blue-700: #404a73;
  --color-slate-blue-800: #2e3451;
  --color-slate-blue-900: #1d2033;
  --color-slate-blue-950: #10121e;

  --color-golden-sand-50: #faf7ea;
  --color-golden-sand-100: #f6f0d5;
  --color-golden-sand-200: #ece0ac;
  --color-golden-sand-300: #e3d182;
  --color-golden-sand-400: #d9c259;
  --color-golden-sand-500: #d0b22f;
  --color-golden-sand-600: #a68f26;
  --color-golden-sand-700: #7d6b1c;
  --color-golden-sand-800: #534713;
  --color-golden-sand-900: #2a2409;
  --color-golden-sand-950: #1d1907;

  --color-cream-50: #feffe5;
  --color-cream-100: #fcffcc;
  --color-cream-200: #faff99;
  --color-cream-300: #f7ff66;
  --color-cream-400: #f5ff33;
  --color-cream-500: #f2ff00;
  --color-cream-600: #c2cc00;
  --color-cream-700: #919900;
  --color-cream-800: #616600;
  --color-cream-900: #303300;
  --color-cream-950: #222400;

  --color-apricot-cream-50: #fef6e6;
  --color-apricot-cream-100: #feeccd;
  --color-apricot-cream-200: #fdd99b;
  --color-apricot-cream-300: #fcc669;
  --color-apricot-cream-400: #fbb337;
  --color-apricot-cream-500: #faa005;
  --color-apricot-cream-600: #c88004;
  --color-apricot-cream-700: #966003;
  --color-apricot-cream-800: #644002;
  --color-apricot-cream-900: #322001;
  --color-apricot-cream-950: #231601;

  --color-burnt-peach-50: #fcece8;
  --color-burnt-peach-100: #fad9d1;
  --color-burnt-peach-200: #f5b2a3;
  --color-burnt-peach-300: #f08c75;
  --color-burnt-peach-400: #eb6547;
  --color-burnt-peach-500: #e63f19;
  --color-burnt-peach-600: #b83214;
  --color-burnt-peach-700: #8a260f;
  --color-burnt-peach-800: #5c190a;
  --color-burnt-peach-900: #2e0d05;
  --color-burnt-peach-950: #200904;

  --color-mauve-bark-50: #f6f0ef;
  --color-mauve-bark-100: #ece2df;
  --color-mauve-bark-200: #d9c4bf;
  --color-mauve-bark-300: #c6a79f;
  --color-mauve-bark-400: #b48a7e;
  --color-mauve-bark-500: #a16d5e;
  --color-mauve-bark-600: #81574b;
  --color-mauve-bark-700: #604139;
  --color-mauve-bark-800: #402b26;
  --color-mauve-bark-900: #201613;
  --color-mauve-bark-950: #160f0d;

  --color-yale-blue-50: #e7f3fd;
  --color-yale-blue-100: #d0e6fb;
  --color-yale-blue-200: #a0cdf8;
  --color-yale-blue-300: #71b5f4;
  --color-yale-blue-400: #419cf1;
  --color-yale-blue-500: #1283ed;
  --color-yale-blue-600: #0e69be;
  --color-yale-blue-700: #0b4f8e;
  --color-yale-blue-800: #07345f;
  --color-yale-blue-900: #041a2f;
  --color-yale-blue-950: #021221;

  --color-baltic-blue-50: #edf2f8;
  --color-baltic-blue-100: #dbe6f0;
  --color-baltic-blue-200: #b6cce2;
  --color-baltic-blue-300: #92b2d3;
  --color-baltic-blue-400: #6d99c5;
  --color-baltic-blue-500: #497fb6;
  --color-baltic-blue-600: #3a6692;
  --color-baltic-blue-700: #2c4c6d;
  --color-baltic-blue-800: #1d3349;
  --color-baltic-blue-900: #0f1924;
  --color-baltic-blue-950: #0a121a;

  --color-sky-aqua-50: #e5f9ff;
  --color-sky-aqua-100: #ccf4ff;
  --color-sky-aqua-200: #99e9ff;
  --color-sky-aqua-300: #66deff;
  --color-sky-aqua-400: #33d3ff;
  --color-sky-aqua-500: #00c8ff;
  --color-sky-aqua-600: #00a0cc;
  --color-sky-aqua-700: #007899;
  --color-sky-aqua-800: #005066;
  --color-sky-aqua-900: #002833;
  --color-sky-aqua-950: #001c24;

  --color-mustard-50: #fffae5;
  --color-mustard-100: #fff6cc;
  --color-mustard-200: #ffec99;
  --color-mustard-300: #ffe366;
  --color-mustard-400: #ffda33;
  --color-mustard-500: #ffd000;
  --color-mustard-600: #cca700;
  --color-mustard-700: #997d00;
  --color-mustard-800: #665300;
  --color-mustard-900: #332a00;
  --color-mustard-950: #241d00;

  --color-deep-saffron-50: #fff4e5;
  --color-deep-saffron-100: #ffe9cc;
  --color-deep-saffron-200: #ffd399;
  --color-deep-saffron-300: #ffbd66;
  --color-deep-saffron-400: #ffa733;
  --color-deep-saffron-500: #ff9100;
  --color-deep-saffron-600: #cc7400;
  --color-deep-saffron-700: #995700;
  --color-deep-saffron-800: #663a00;
  --color-deep-saffron-900: #331d00;
  --color-deep-saffron-950: #241400;

  /* new Pallete */
  --color-yale-blue-50: #e7f3fd;
  --color-yale-blue-100: #d0e6fb;
  --color-yale-blue-200: #a0cdf8;
  --color-yale-blue-300: #71b5f4;
  --color-yale-blue-400: #419cf1;
  --color-yale-blue-500: #1283ed;
  --color-yale-blue-600: #0e69be;
  --color-yale-blue-700: #0b4f8e;
  --color-yale-blue-800: #07345f;
  --color-yale-blue-900: #041a2f;
  --color-yale-blue-950: #021221;

  --color-baltic-blue-50: #edf2f8;
  --color-baltic-blue-100: #dbe6f0;
  --color-baltic-blue-200: #b6cce2;
  --color-baltic-blue-300: #92b2d3;
  --color-baltic-blue-400: #6d99c5;
  --color-baltic-blue-500: #497fb6;
  --color-baltic-blue-600: #3a6692;
  --color-baltic-blue-700: #2c4c6d;
  --color-baltic-blue-800: #1d3349;
  --color-baltic-blue-900: #0f1924;
  --color-baltic-blue-950: #0a121a;

  --color-sky-aqua-50: #e5f9ff;
  --color-sky-aqua-100: #ccf4ff;
  --color-sky-aqua-200: #99e9ff;
  --color-sky-aqua-300: #66deff;
  --color-sky-aqua-400: #33d3ff;
  --color-sky-aqua-500: #00c8ff;
  --color-sky-aqua-600: #00a0cc;
  --color-sky-aqua-700: #007899;
  --color-sky-aqua-800: #005066;
  --color-sky-aqua-900: #002833;
  --color-sky-aqua-950: #001c24;

  --color-mustard-50: #fffae5;
  --color-mustard-100: #fff6cc;
  --color-mustard-200: #ffec99;
  --color-mustard-300: #ffe366;
  --color-mustard-400: #ffda33;
  --color-mustard-500: #ffd000;
  --color-mustard-600: #cca700;
  --color-mustard-700: #997d00;
  --color-mustard-800: #665300;
  --color-mustard-900: #332a00;
  --color-mustard-950: #241d00;

  --color-deep-saffron-50: #fff4e5;
  --color-deep-saffron-100: #ffe9cc;
  --color-deep-saffron-200: #ffd399;
  --color-deep-saffron-300: #ffbd66;
  --color-deep-saffron-400: #ffa733;
  --color-deep-saffron-500: #ff9100;
  --color-deep-saffron-600: #cc7400;
  --color-deep-saffron-700: #995700;
  --color-deep-saffron-800: #663a00;
  --color-deep-saffron-900: #331d00;
  --color-deep-saffron-950: #241400;
}

/* body {
  font-family: var(--font-saira);
} */
